<button type="button" class="btn btn_cancelar_cla" data-toggle="modal" data-target="#salir">Cancelar</button>

<div id="salir" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center d-flex">
              <div class="row">
                  <div class="col-md-3">
                    <img   src="../../../assets/img/pregunta.png" class="mt-4" width="110">
                  </div>
                  <div class="col-md-9 p-2">
                      <p class="text-left destacado_negrita">¿Estás seguro que deseas cancelar tu solicitud de portabilidad?</p>
                      <p class="text-left">Te recordamos que no se guardará ningún dato ni documentación de lo que hayas llenado hasta ahora.</p>
                    <form action="" method="">
                        <div class="form-group justify-content-center text-center">
                            
                            <button type="submit"  class="btn btn_secundario_cla" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn_primario_cla" data-dismiss="modal" (click)="continue()">Si</button>
                        </div>
                    </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
