<div id="div-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a  class="dropdown-toggle profile-list-mobile pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="profile-name text-center"></span>
                    <span class="profile-arrow"></span>
                </a>
                <ul class="dropdown-menu list-profile-actions-mobile">
                    <li><a href="./login.html">Cerrar Sesión</a></li>
                </ul>
                <a class="navbar-brand ccla-logo-navbar" href="https://misucursal.cajalosandes.cl/webcenter/portal">
                    <img class="separator-logo" alt="Brand" src="assets/img/CCLA_logo.png">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right profile-navbar-web" style="height: 80px;">
            </ul>
        </div>
    </nav>
</div>
