<div class="container">
    <div class="row" #generateCoupon>
        <!--Mostrar datos y opciones del cupon-->
        <div #detailCoupon>
            <div *ngIf="newCarga" id="coupon-detail" class="col-lg-6 col-lg-12">
                <div class="box-cupones-cc expand">
                    <div class="top">
                        <div class="icono-cupon mb-2">
                            <img width="90px" src="assets/img/cupon-caja-escolar.svg" alt="">
                            <span class="title-cupon fs-5 f-geomanist-book c-color-blue-2">Cupon de Copago</span>
                        </div>
                    </div>
                    <div class="mid">
                        <div class="datos">
                            <div class="left">
                                <p class="f-geomanist-r c-color-gris">Nombre de la carga:</p>
                            </div>
                            <div class="right">
                                <p class="f-geomanist-book c-color-gris">{{newCarga?.nombreCarga}}</p>
                            </div>
                        </div>
                        <div class="datos">
                            <div class="left">
                                <p class="f-geomanist-r c-color-gris">Estado: </p>
                            </div>
                            <div class="right">
                                <p class="f-geomanist-book c-color-blue">{{newCarga?.estadoCupon}}</p>
                            </div>
                        </div>
                        <div class="datos monto-cupon-bot">
                            <div class="left">
                                <p class="f-geomanist-r c-color-gris">Monto del cupon:</p>
                            </div>
                            <div class="right">
                                <p class="f-geomanist-book c-color-blue">{{newCarga?.montoCupon}}</p>
                            </div>
                        </div>
                    </div>
                    <form id="formCopago">
                        <div class="box-select-comercio">
                            <p class="fs-4 f-geomanist-r c-color-gris">Seleciona el comercio donde quieras utilizar tu cupon</p>
                            <div *ngIf="newCarga" class="ca-form selector-comercio">
                                <select [(ngModel)]='selecionar' (ngModelChange)="ngModelchange($event)" class="mb1" name="comercio" id="comercio" class="mb-1 ng-untouched ng-pristine ng-valid">
                                    <option [selected] [value]="selecionar" ng-reflect-value="Selecciona">Selecciona</option>
                                    <ng-container *ngFor="let conv of convenio?.result">
                                        <option *ngIf="conv.beneficiosCopago.length > 0" [ngValue]="conv"> {{conv.marca}}</option>
                                    </ng-container>

                                </select>
                                <p class="fs-1 c-color-gris">Recuerda que una vez que hayas generado tu cupón con el comercio seleccionado, no podrás cambiarlo.</p>
                                <div class="comercio-selecionado">
                                    <div id="div-condiciones" class="d-none">
                                        <p class="fs-4 f-geomanist-r c-color-gris mb-4">
                                            Condiciones de uso y más informacion
                                            <a (click)="showModalComisiones()" class="f-geomanist-book c-color-blue btn-click-open-modal-paso1">Ver aquí</a>
                                        </p>
                                        <div class="ca-flex ca-flex-align-center mb-3">
                                            <div class="mr-2">
                                                <label class="checkbox">
                                                    <input type="checkbox" id="condiciones" name="condiciones" [(ngModel)]="checked" (click)="checkInput()" class="input-aceptar-comercio ng-untouched ng-pristine ng-invalid" ng-reflect-name="condiciones">
                                                    <span class="check">

                                                    </span>
                                                </label>
                                            </div>
                                            <div>
                                                <p class="mb-0 text-checkbox fs-4">
                                                    Acepto las
                                                    <span class="f-geomanist-book c-color-blue">condiciones de uso</span> del cupón de descuento adicional en el comercio seleccionado
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="botones text-center box-seleccionar-cupon">
                            <button class="btn-blue ca-btn-regular seleccionar-cupon">Selecionar Cupon</button>
                        </div>
                        <div class="botones text-center box-generar-cupon">
                            <button id="btnAceptar" (click)="showModalGenerar()" [disabled]="checked == false" data-tooltip="Debes seleccionar un comercio para generar tu cupón." data-modal-open="generarcupon" data-toggle="modal" data-target="#modal-generarcupon" class="btn-blue ca-btn-regular btn-click-open-modal tooltip-hover-disabled">Generar Cupon</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Selecionar cupones-->
        <div *ngFor="let carga of beneficiario?.respuesta.cargas" class="col-lg-6">
            <div class="box-cupones-cc">
                <div class="top">
                    <div class="icono-cupon mb-2">
                        <img class="mx-auto d-block" src="assets/img/Icono_Cupon-caja-escolar.png" alt="">
                    </div>
                    <div class="text-center monto-cupon-top">
                        <p class="mb-0 f-geomanist-r c-color-gris">Monto del cupon</p>
                        <p class="fs-7 f-geomanist-book c-color-blue">
                            <strong>
                                {{numberPipe.localeString(carga.montoCupon)}}
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="mid">
                    <div class="datos">
                        <div class="left">
                            <p class="f-geomanist-r c-color-gris">Nombre de la carga:</p>
                        </div>
                        <div class="right">
                            <p class="f-geomanist-book c-color-gris">{{carga.nombreCarga}}</p>
                        </div>
                    </div>
                    <div class="datos">
                        <div class="left">
                            <p class="f-geomanist-r c-color-gris">Estado:</p>
                        </div>
                        <div class="right">
                            <p class="f-geomanist-book c-color-blue">
                                {{carga.estadoCupon}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="botones text-center box-seleccionar-cupon">
                    <ng-container>
                        <button *ngIf="carga.estadoCupon == 'Utilizado'" [class.tooltip-hover-disabled]="true" disabled data-tooltip="Ya has utilizado este Cupón de descuento adicional" class="btn-blue ca-btn-regular seleccionar-cupon"> Selecionar cupon </button>
                    </ng-container>
                    <ng-container>
                        <button *ngIf="carga.estadoCupon == 'Generado'" [class.tooltip-hover-disabled]="false" (click)="verCupon(carga)" data-tooltip="Ya has utilizado este Cupón de descuento adicional" class="btn-blue ca-btn-regular seleccionar-cupon"> Ver cupon </button>
                    </ng-container>
                    <ng-container>
                        <button *ngIf="carga.estadoCupon == 'Disponible'" [class.tooltip-hover-disabled]="false" data-tooltip="Ya has utilizado este Cupón de descuento adicional" (click)="solicitarDatosCupon(carga)" class="btn-blue ca-btn-regular seleccionar-cupon"> Selecionar cupon </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <!--bindings={

    }-->
</div>