.content {
    width: 40%;
    margin: auto;
}

.content h2 {
    font-size: 26px;
    font-weight: bold;
    color: #0076a9;
    letter-spacing: 0.3px;
}

.box-slog {
    font-family: geomanist_regularregular, "Open Sans", sans-serif;
}

.box-img-desc {
    text-align: left;
}

.box-desc {
    width: 600px;
    float: right;
}

.box-desc p {
    font-family: geomanist_regularregular, "Open Sans", sans-serif;
    color: #646466;
    text-align: justify;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: 0.3px;
    font-size: 18px;
}

.box-img {
    width: 115px;
    float: left;
}

.box-img img {
    width: 115px;
    height: 115px;
}
