<div class="p-3 ccla">
    <!-- div a repetir comercio -->
    <div id="accordion">
        <div *ngFor="let conv of convenio?.result, let i = index" class="box-comercio" id="{{i}}">
            <div class="box-comercio-title" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapse">
                <span class="logo-comercio">
                    <img src="{{conv.imagenes?.logo}}" alt="{{conv.marca}}">
                </span>
                <p class="titulo-comercio">{{conv.marca}}</p>
                <span class="flecha">
                    < </span>
            </div>
            <div id="collapse{{i}}" class="collapse box-comercio-content" aria-labelledby="92" data-parent="#accordion">
                <p class="fs-4">Encuentra todo lo que necesitas para volver a clases en el mejor comercio. Obtén los mejores descuentos en lápices, borradores, cuadernos, mochilas y todo lo que necesitas para tus hijos en etapa escolar.</p>
                <p class="fs-4 f-geomanist-book c-color-blue">Cupones de descuento</p>
                <div class="row">
                    <ng-container *ngFor="let bene of conv.beneficios">
                        <div *ngIf="bene.beneficioespecial == 2" class="col-lg-4 mx-auto" [ngClass]="{'col-lg-12': showDet === true && idbene === bene.idbeneficio}">
                            <div class="box-cupones-cc" [ngClass]="{'expand': showDet === true && idbene === bene.idbeneficio}">
                                <div class="top">
                                    <div class="descuento-cupon">
                                        <div class="imagen-comercio">
                                            <img src="assets/img/icono-lapiz-lopez.png" alt="Lápiz López">
                                        </div>
                                        <div>
                                            <p class="dcto c-color-blue">{{bene.descuento_principal}}</p>
                                            <p class="detalle-dcto fs-4 c-color-blue">{{bene.enquebr}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <p class="descripcion-descuento">{{bene.enqueex}}</p>
                                    <div class="datos-descuentos mb-3">
                                        <div class="datos">
                                            <div class="left">
                                                <p class="f-geomanist-r c-color-gris">Sitio web:</p>
                                            </div>
                                            <div class="right">
                                                <p class="f-geomanist-book c-color-blue"><a href="http://{{conv.web}}" class="c-color-blue">{{conv.web}}</a></p>
                                            </div>
                                        </div>
                                        <div class="datos">
                                            <div class="left">
                                                <p class="f-geomanist-r c-color-gris">Condiciones de uso y más información:</p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    <a (click)="showModalComisiones()" class="f-geomanist-book c-color-blue btn-click-open-modal-paso1" data-modal-open="modal-comisiones">Ver aquí</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="datos">
                                            <div class="left">
                                                <p class="f-geomanist-r c-color-gris">Estado:</p>
                                            </div>
                                            <div class="right">
                                                <p class="f-geomanist-book c-color-blue">Disponible</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datos hide-estado-dcto">
                                        <div class="left">
                                            <p class="f-geomanist-book c-color-gris">Estado:</p>
                                        </div>
                                        <div class="right">
                                            <p class="f-geomanist-r c-color-gris">Disponible</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Seleccionar comercio -->
                                <div class="box-select-comercio">
                                    <div class="ca-form selector-comercio">
                                        <div class="comercio-seleccionado">
                                            <div class="lapiz-lopez">
                                                <div class="ca-flex ca-flex-align-center mb-3">
                                                    <div class="mr-2">
                                                        <label class="checkbox">
                                                        <input type="checkbox" [(ngModel)]="checked2" id="condiciones" name="condiciones" (click)="checkInput()" class="check-cupon-dcto">
                                                        <span class="check"></span>
                                                    </label>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0 text-checkbox fs-4">Acepto las <span class="f-geomanist-book c-color-blue">condiciones de uso</span> del cupón de copago en el comercio seleccionado</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="botones text-center box-seleccionar-cupon">
                                    <button class="btn-blue ca-btn-regular ver-descuento" (click)="showDetails(bene)">Ver descuento</button>
                                </div>
                                <div class="botones text-center box-generar-cupon">
                                    <a id="btnAceptar" class="btn-blue ca-btn-regular tooltip-hover-disabled" data-tooltip="Debes aceptar las condiciones para generar el cupón.">Generar cupón</a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


        </div>
    </div>
    <!-- fin acordeon-->
</div>
