<div class="row">
    <div class="col-lg-12">
        <div class="box-cupones-cc expand">
            <div class="top">
                <div class="icono-cupon mb-2">
                    <img src="assets/img/cupon-caja-escolar.svg" width="90" alt="Cupon" alt="">
                    <span class="title-cupon fs-5 f-geomanist-book c-color-blue-2">¡Cupon de Copago generado exitosamente!</span>
                </div>
                <div class="text-center monto-cupon-top">
                    <p class="mb-0 f-geomanist-r c-color-gris">Monto del cupon</p>
                    <p class="fs-7 f-geomanist-book c-color-blue">$10.000</p>
                </div>
            </div>
            <div class="box-codigo-cupon text-center mb-4">
                <p class="c-color-white f-geomanist-r mb-2">Codigo del cupon de copago</p>
                <p class="c-color-white f-geomanist-book fs-5 mb-0">{{dataCupon?.codigoCupon}}</p>
            </div>
            <div class="mid mb-3 pad-inner-cupon">
                <div class="datos">
                    <div class="left">
                        <p class="f-geomanist-r c-color-gris">Comercio: </p>
                    </div>
                    <div class="right">
                        <p class="f-geomanist-book c-color-gris">{{dataCupon?.nomComercio}}</p>
                    </div>
                </div>
                <div class="datos">
                    <div class="left">
                        <p class="f-geomanist-r c-color-gris">Monto de copago</p>
                    </div>
                    <div class="right">
                        <p class="f-geomanist-book c-color-blue">{{dataCupon?.montoCupon}}</p>
                    </div>
                </div>
                <div class="datos monto-cupon-bot">
                    <div class="left">
                        <p class="f-geomanist-r c-color-gris">Nombre de la carga:</p>
                    </div>
                    <div class="right">
                        <p class="f-geomanist-book c-color-blue">{{dataCupon?.nombreCarga}}</p>
                    </div>
                </div>
                <div class="datos monto-cupon-bot">
                    <div class="left">
                        <p class="f-geomanist-r c-color-gris">Sitio web:</p>
                    </div>
                    <div class="right">
                        <a class="f-geomanist-book c-color-blue">INSERTE SITIO WEB ACA</a>
                    </div>
                </div>
            </div>
            <div class="box-detalles-cupon">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <p class="mb-2 fs-4  f-geomanist-r c-color-gris">Estado del cupon</p>
                        <p class="fs-4 f-geomanist-book c-color-blue">{{dataCupon?.estadoCupon}}</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p class="mb-2 fs-4  f-geomanist-r c-color-gris">Cupon generado el</p>
                        <p class="fs-4 f-geomanist-book c-color-blue">{{dataCupon?.fecEstado | date:"dd/mm/yyyy" }}</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p class="mb-2 fs-4  f-geomanist-r c-color-gris">Fecha maxima de canje</p>
                        <p class="fs-4 f-geomanist-book c-color-blue">31/12/2021</p>
                    </div>
                </div>
            </div>
            <p class="pad-inner-cupon f-geomanist-r">
                <span class="f-geomanist-book">Recuerda: </span> Debes presentar o ingresar el
                <span class="f-geomanist-book">codigo del cupon de copago</span> para hacer efectivo el descuento en el total de tu compra, ya sea online o presencial. Este código es único e intransferible, una vez utilizado no tiene validez alguna.
            </p>
            <div class="botones box-descargar-cupon">
                <button class="ca-btn-descargar-cupon">
                    <span class="icon"></span>
                    <span>Descargar cupon</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div>
            <a class="ca-btn-regular btn-white" id="btn-volver">Volver al inicio</a>
        </div>
    </div>
</div>